#detail_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

#image_detail {
  overflow: hidden;
  height: 400px;
  width: 560px;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%),
    0 0.2rem 0.1rem rgb(0 0 0 / 5%);
}

#image_detail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#info_detail_container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-around;
  width: 45rem;
}

#info_detail_container h2 {
  font-size: 2.35rem;
}

#info_detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10rem;
  width: 100%;
  font-size: 0.9rem;
}

#info_detail p {
  width: 50%;
}

#border_country_countainer {
  display: flex;
  align-items: center;
}

#border_country_countainer span {
  width: 20%;
}

#border_country_countainer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: 70%;
}
