#countries_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 15.8rem);
  column-gap: 75px;
  row-gap: 75px;
  justify-content: space-between;
}

#countries_container a {
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 640px) {
  #countries_container {
    grid-template-columns: repeat(2, 15.8rem);
  }
}

@media screen and (min-width: 1030px) {
  #countries_container {
    grid-template-columns: repeat(3, 15.8rem);
  }
}

@media screen and (min-width: 1400px) {
  #countries_container {
    grid-template-columns: repeat(4, 15.8rem);
  }
}



@media screen and (min-width: 1770px) {
  #countries_container {
    grid-template-columns: repeat(5, 15.8rem);
  }
}



@media screen and (min-width: 2140px) {
  #countries_container {
    grid-template-columns: repeat(6, 15.8rem);
  }
}



@media screen and (min-width: 2510px) {
  #countries_container {
    grid-template-columns: repeat(7, 15.8rem);
  }
}



@media screen and (min-width: 2880px) {
  #countries_container {
    grid-template-columns: repeat(8, 15.8rem);
  }
}

@media screen and (min-width: 6580px) {
  #countries_container {
    grid-template-columns: repeat(9, 15.8rem);
  }
}