#countries_container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;

  column-gap: 10vmin;
  row-gap: 3em;
}

#countries_container a {
  display: flex;
  justify-content: center;
}
