#countries_container {
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

    column-gap: 10vmin;
    row-gap: 3em;
}

#countries_container a {
    display: flex;
    justify-content: center;
}